{
	"presets": ["react-app"],
	"plugins": [
		[
			"babel-plugin-root-import",
			{
				"paths": [
					{
						"rootPathPrefix": "&",
						"rootPathSuffix": "src"
					},
					{
						"rootPathPrefix": "@components",
						"rootPathSuffix": "src/components"
					},
					{
						"rootPathPrefix": "@screens",
						"rootPathSuffix": "src/screens"
					},
					{
						"rootPathPrefix": "@store",
						"rootPathSuffix": "src/store"
					},
					{
						"rootPathPrefix": "@utils",
						"rootPathSuffix": "src/utils"
					},
					{
						"rootPathPrefix": "@App",
						"rootPathSuffix": "src/App"
					}
				]
			}
		]
	]
}
