.user {
	.user-data {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		.user-subdata {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	.user-info {
		margin-bottom: 20px;
	}
}

@media (max-width: 600px) {
	.user-data {
		flex-direction: column;

		.user-actions {
			margin-bottom: 20px;
		}

		.user-subdata {
			width: 100%;
		}
	}
}
